.bill-item-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  table {
    th,
    td {
      min-width: 60px;
      text-align: left;
      padding: 0 8px;
      min-width: 100px;
    }
  }

  .bill-wrapper {
    padding: 8px;

    &.active {
      border-bottom: 1px dashed salmon;
    }
  }
  .show-discount-member {
    text-align: left;
    width: 100%;
  }

  .show-total-price-wrapper,
  .show-discount-member,
  .show-discount-double-wrapper,
  .wrapper-grand-total {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 16px;
  }
}
